body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #d1d5db;
    grid-template-columns: 15% 1fr 20%;
    grid-template-areas: 
    "nav main-header main-header"
    "nav welcome-header welcome-header"
    "nav middle-contain right-bar";
}

.main-header {
    background-color: whitesmoke;
    height: 48px;
    grid-area: main-header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "search . mini-nav";
    align-items: center;
}

.main-header>input {
    grid-area: search;
    border-radius: 15px;
    background-color: rgb(168, 168, 168);
    height: 20px;
    size: 200px;
    margin-left: 10px;
}

.main-header>input:focus {
    background-color: white;
}

.mini-nav {
    grid-area: mini-nav;
    /* float: inline-end; */
}

.welcome-header {
    grid-area: welcome-header;
    display: grid;
    background-color: whitesmoke;
    height: 60px;
    box-shadow: 5px 5px 5px gray;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "welcome post-btns";
    align-items: center;
    justify-items: center;
}

.welcome {
    grid-area: welcome;
    font-size: 28px;
    font-weight: 800;
    margin: auto;
}

.post > button {
    grid-area: post-btn;
    background-color: #b45309;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    margin-right: 30px;
    transition-duration: 0.4s;
}

.post>button:hover {
    background-color: white;
    border: 3px solid #b45309;
    font-weight: 600;
}

.nav {
    background-color: #15803d;
    height: 100vh;
    grid-area: nav;
    display: grid;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    align-self: center;
}

li {
    margin: 10px;
}

.middle-container {
    grid-area: middle-contain;
    width: 40vw;
    margin-left: 70px;
}

.tiles-title {
    font-size: 25px;
    font-weight: 700;
}

.tiles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.tiles {
    background-color: whitesmoke;
    height: 130px;
    width: 350px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px #b45309;
    transition-duration: 0.8s;
}

.tiles:hover {
    background-color: #b45309;
    border: 3px solid white;
    color: white;
}

.right-bar {
    grid-area: right-bar;
    display: grid;
    align-self: center;
    height: 70vh;
    width: 250px;
}

.announcement,
.trending {
    background-color: #15803d;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    margin-top: 20px;
    margin-right: 30px;
}

/* #logout {
    width: 3em;
    height: 3em;
    background: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
} */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}